<h1>New user</h1>
<%= form_for @user do |f| %>
  Name: <br>
  <%= f.text_field :name %>
  <br>Password: <br>
  <%= f.password_field :password %><br>
  Confirmation <br>
  <%= f.password_field :password_confirmation %>
  <br>Height: <br>
  <%= f.number_field :height %>
  <br>Nausea: <br>
  <%= f.number_field :nausea %>
  <br>Happiness: <br>
  <%= f.number_field :happiness %>
  <br>Money: <br>
  <%= f.number_field :tickets %><br>
  Are you a owner? <%= f.check_box :admin %><br>
  <%= f.submit %>
<% end %>
