<h1>New attraction</h1>
<%= form_for @attraction do |f| %>
  Name: <br>
  <%= f.text_field :name %>
  <br>Height Requirement (in inches) <br>
  <%= f.number_field :min_height %>
  <br>Nausea Rating: <br>
  <%= f.number_field :nausea_rating %>
  <br>Happiness Rating: <br>
  <%= f.number_field :happiness_rating %>
  <br>Tickets: <br>
  <%= f.number_field :tickets %><br>
  <%= f.submit %>
<% end %>
